aiodns==1.1.1
aiohttp==3.11.0b0
async-timeout==2.0.0
cchardet==2.1.1
certifi==2024.7.4
chardet==3.0.4
idna==3.7
multidict==4.1.0
pycares==4.2.0
pyzmq==16.0.4
requests==2.32.4
twofish==0.3.0
urllib3==1.26.19
uvloop==0.9.1
yarl==1.1.0
zmq==0.0.0
